* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 90%;
  height: 80vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  width: 30%;
  height: 80%;
  /* border: 1px solid; */
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.2s linear;
}
figure {
  width: 100%;
  height: 70%;
  /* border: 2px solid red; */
  overflow: hidden;
}
article {
  width: 100%;
  height: 30%;
  /* border: 2px solid blue; */
}
.price-buy-container {
  width: 100%;
  height: 80px;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}
h2 {
  font-size: 30px;
  font-weight: 500;
  padding: 10px 5px;
}
span {
  font-size: 20px;
  font-weight: 600;
  color: navy;
}
button {
  border: none;
  padding: 10px 30px;
  background-color: rgb(1, 175, 1);
  color: white;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
}

.card:hover {
  /* transform: scale(1.05); */
  /* border: 2px solid navy; */
  /* box-shadow: navy 0px 3px 6px; */
  /* transform: scale(0.9); */
    /* transform: scaleY(2); */
}

.card:hover img {
    transform: scale(1.1);
}

